.App {
  font-family: 'Optima'
}


/* NAVBAR */
.navbar-logo {
  font-family: 'Century Gothic';
  font-size: 2.3em;
  font-weight: bold;
}

.navbar-link {
  font-family: 'Optima';
  font-size:  1.2em;
  font-weight: bold;
}

/* HOME PAGE */
.home {
  background-image: url(./wallpaper.jpg);
  background-position: center;
  height: 100vh;
}

.home-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-logo {
  font-family: 'Century Gothic';
  font-size: 5em;
  font-weight: bold;
  color: #D6D6D6;
  margin-bottom: 25px;
  text-align: center;
}

.home-subheader {
  font-size: 2em;
  text-align: center;
  color: white;
  padding-bottom: 30px;
}

.btn {
  width: 400px;
  position: absolute;
}

/* ABOUT PAGE */
.about {
  background-image: url(./wallpaper.jpg);
  background-position: center;
  height: 100vh;
}

.about-title {
  font-family: 'Century Gothic';
  font-size: 5em;
  font-weight: bold;
  color: #D6D6D6;
  margin-bottom: 25px;
  padding-top: 25px;
  text-align: center;
}

.about-information {
  font-size: 2em;
  text-align: center;
  color: white;
  padding-bottom: 30px;
}

/* PERFUME CARD */
.perfume-card {
  width: 300px;
  padding: 15px;
  border: 1px solid #0c3d59;
  background-color: white;
}

.perfumes-list {
  width: 90%;
  margin: auto;
}

.perfume-name {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Optima', sans-serif;
  font-weight: bold;
  color: #0c3d59;
}

/* PERFUME SHOW */
.perfume-show-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.perfume-show-title {
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'Optima', sans-serif;
  font-weight: bold;
  color: #0c3d59;
  font-size: 50px;
}

/* COMMENTS */
.comments {
  margin-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
}

/* LIKE BUTTON */
.like-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}